<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.knowledge_android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Knowledgeandroid">

        <!--通过切换不同的主启动Activity,注意包路径,来查看不同的空间效果-->
        <activity
            android:name=".activity4.MainActivity4"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activity2.FoldActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity2.NoFoldActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity2.JumpAvtivity"
            android:exported="true">
        </activity>

    </application>

</manifest>